.todo-list 
    padding-left: 35px
.list 
    &__title
        font:
            size: 18px
            weight: bold
        text-align: center
    &__search
        margin-bottom: 2rem
        & > input
            padding: 0.5rem
            border: 1px solid #BDBDBD
            border-radius: 5px
            width: -webkit-fill-available